/**
 * Application Launcher Style Sheet
 */
@use "../../../style/gtk.scss" as *;

popover.launcher {

  > arrow {
    background: transparent;
    border: unset;
    box-shadow: unset;
  }

  > contents {
    background: gtkalpha(var(--popover-shade-color), 3);
  }


  entry.search {
    margin-bottom: 0.8rem;
  }

  button.app {
    min-width: 0;
    min-height: 0;
    padding: 0.5rem;

    image {
      font-size: 3em;
      margin-right: 1rem;
    }

    label.name {
      font-size: 1.1em;
      font-weight: bolder;
    }

    label.description {
    }
  }

  box.not-found {
    padding: 1rem;
    font-weight: lighter;

    label {
      font-size: 1.2em;
    }
  }
}
