@use "../../../style/gtk.scss" as *;

window.notification-center {

  .notification {
    background: $bg-color;
    border-radius: 10px;
    border: 2px solid $borders;
    margin: 1em;
    padding: 0.5rem;
    opacity: 0.8;

    &:hover {
      opacity: 1.0;
      transition: opacity 100ms linear;
    }

    .toolbar {
      all: unset;

      .icon {
        margin-right: 0.3rem;
        font-size: 14pt;
      }

      .header {
        font-size: 12pt;
      }

      .subheader {
        font-weight: lighter;
        font-size: 10pt;
      }

      button {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
      }
    }


    .content {
      box.image {
        border: 1px solid gtkalpha($fg-color, 0.02);
        margin-right: 0.5rem;
        border-radius: 9px;
        min-width: 100px;
        min-height: 100px;
        background-size: cover;
        background-position: center;
      }
      
      image {
        min-width: 100px;
        min-height: 100px;
        border-radius: 9px;
        margin-right: 0.5rem;
        border: 1px solid gtkalpha($fg-color, 0.02);
      }

      label.summary {
        font-size: 1.2em;
        color: $fg-color;
      }

      label.body {
        color: gtkalpha($fg-color, 0.8);
      }
    }

    .actions {
      margin-top: 1rem;
      margin-bottom: 1rem;

      button {
        margin: 0 0.3rem;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
