@use "../../../style/gtk.scss" as *;

window.notification-center {

  .container {
    margin-right: 1em;

    > *:not(:last-child) {
      margin-bottom: 1em;
    }

    > *:first-child {
      margin-top: 1em;
    }
  }

  .notification {
    background-color: gtkalpha(var(--popover-shade-color), 4);
    border-radius: 10px;
    border: 2px solid var(--border-color);
    padding: 0.5rem;
    opacity: 0.6;

    &:hover {
      opacity: 1.0;
      transition: opacity 100ms linear;
    }

    .toolbar {
      color: var(--popover-fg-color);
      background: transparent;
      box-shadow: 0px 2px 1px var(--shade-color);

      .icon {
        margin-right: 0.3rem;
        font-size: 14pt;
      }

      .header {
        color: var(--popover-fg-color);
        font-size: 12pt;
      }

      .subheader {
        // color: darker(var(--popover-fg-color));
        opacity: 0.8;
        font-size: 12pt;
      }

      button {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
      }
    }


    .content {
      padding-top: 0.5em;
      padding-bottom: 0.5em;

      box.image {
        border: 1px solid var(--border-color);
        margin-right: 0.5rem;
        border-radius: 9px;
        min-width: 100px;
        min-height: 100px;
        background-size: cover;
        background-position: center;
      }
      
      image {
        min-width: 100px;
        min-height: 100px;
        border-radius: 9px;
        margin-right: 0.5rem;
        border: 1px solid var(--border-color);
      }

      label.summary {
        font-size: 1.2em;
        color: var(--popover-fg-color);
      }

      label.body {
        color: gtkalpha(var(--popover-fg-color), 0.8);
      }
    }

    .actions {
      margin-top: 1rem;
      margin-bottom: 1rem;

      button {
        margin: 0 0.3rem;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
