/**
 * Notifications List Style Sheet
 */
@use "../../../style/gtk.scss" as *;

box.Notifications {
  .EmptyNotifications {
    font-size: 12pt;
    font-weight: bold;
    margin: 2em;
    color: gtkalpha($fg-color, 0.6);
  }

  eventbox.Notification {
    &:first-child>box {
      margin-top: 1rem;
    }

    &:last-child>box {
      margin-bottom: 1rem;
    }

    // eventboxes can not take margins so we style its inner box instead
    >box {
      background-color: $bg-color;
      // margin: .5rem 1rem .5rem 1rem;
    }


    &.critical>box {
      border: 1pt solid gtkalpha($error, .4);

      .header {

        .app-name {
          color: gtkalpha($error, .8);
          font-size: 12pt;
        }

        .app-icon {
          color: gtkalpha($error, .6);
          font-size: 14pt;
        }
      }
    }

    .header {
      padding: .5rem;
      color: gtkalpha($fg-color, 0.5);

      .app-icon {
        margin: 0 .4rem;
        font-size: 14pt;
      }

      .app-name {
        margin-right: .3rem;
        font-size: 12pt;
        font-weight: bold;

        &:first-child {
          margin-left: .4rem;
        }
      }

      .time {
        margin: 0 .4rem;
      }

      button {
        padding: .2rem;
        min-width: 0;
        min-height: 0;
      }
    }

    separator {
      margin: 0 .4rem;
      background-color: gtkalpha($fg-color, .1);
    }

    .content {
      margin: 1rem;
      margin-top: .5rem;

      .summary {
        font-size: 1.2em;
        color: $fg-color;
      }

      .body {
        color: gtkalpha($fg-color, 0.8);
      }

      .image {
        border: 1px solid gtkalpha($fg-color, .02);
        margin-right: .5rem;
        border-radius: 9px;
        min-width: 100px;
        min-height: 100px;
        background-size: cover;
        background-position: center;
      }
    }

    .actions {
      margin: 1rem;
      margin-top: 0;

      button {
        margin: 0 .3rem;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
