/**
 * Status Bar Style Sheet
 */
@use "../../../style/colors.scss" as *;

window.Bar {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;

  > * {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  box.Bar {
    menubutton {
      box {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
      }
    }
  }

  box.active_workspace {
    label {
      font-size: 12pt;
    }

    image.icon {
      font-size: 16pt;
      margin-right: 4pt;
    }
  }
}

.PrivacyIndicator.unmuted {
  animation: unmuted-flash 2s ease-in-out 0s infinite alternate;

  @keyframes unmuted-flash {
    0% { background-color: $error; }
    100% { background-color: $bg-color; }
  }
}

.PrivacyIndicator.muted {
  animation: muted-flash 2s ease-in-out 0s infinite alternate;

  @keyframes muted-flash {
    0% { background-color: gtkshade($fg-color, 1.5); color: gtkshade($bg-color, 0.67); }
    100% { background-color: $bg-color; color: $fg-color; }
  }
}

.icon {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
