/**
 * Status Bar Style Sheet
 */
@use "../../../style/colors.scss" as *;

window.Bar {
  background: var(--headerbar-darker-shade-color);
  color: var(--headerbar-fg-color);
  margin-top: 0rem;
  margin-bottom: 0.25rem;

  box.end {
    padding: 0;
    margin: 0;

    box.system-tray {
      .tray-item {
        padding-right: 0.5rem;
      }

      .privacy.unmuted {
        animation: unmuted-flash 2s ease-in-out 0s infinite alternate;

        @keyframes unmuted-flash {
          0% {
            background-color: var(--error-bg-color);
            color: var(--error-fg-color)
          }
          100% {
            background-color: var(--headerbar-darker-shade-color);
            color: var(--headerbar-fg-color);
          }
        }
      }

      .privacy.muted {
        animation: muted-flash 2s ease-in-out 0s infinite alternate;

        @keyframes muted-flash {
          0% {
            background-color: gtkshade(var(--headerbar-fg-color), 1.5);
            color: gtkshade(var(--headerbar-bg-color), 0.67);
          }

          100% {
            background-color: var(--headerbar-darker-shade-color);
            color: var(--headerbar-fg-color);
          }
        }
      }
    }

    box.application-tray {
      padding: 0;
      margin: 0;

      > menubutton.tray-item:not(:first-child) > button {
        padding: 0 0.5rem 0 0;
      }

      > menubutton.tray-item:first-child > button {
        padding: 0 0.5rem 0 0.5rem;
      }
    }

    menubutton.control-panel {
      > button {
        margin: 0;
        padding: 0 0 0 0.25rem;
      }
    }
  }

  box.workspaces {
    button {
      border-radius: 0;
    }
  }

  box.active_workspace {
    button {
      border-radius: 0;
    }

    label {
      font-size: 12pt;
    }

    image.icon {
      font-size: 16pt;
      margin-right: 4pt;
    }
  }
}

.icon {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
